// custom.scss
@import "../scss/vendor/rfs";

// themeing by overrides
$blue: #546997;
$enable-responsive-font-sizes: true;
$enable-shadows: true;

@import "../scss/bootstrap";

$phone: map-get($grid-breakpoints, "sm");
$tablet: map-get($grid-breakpoints, "md");
$laptop: map-get($grid-breakpoints, "lg");
$desktop: map-get($grid-breakpoints, "xl");
$monitor: map-get($grid-breakpoints, "xxl");

/* Custom CSS Begins > */

header {
	position: relative;
	z-index: 99;
}

.navbar-light {
  .navbar-nav {
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
			border-bottom: 4px solid $blue;
    }
  }
}

.navbar-toggler {
	border: 0;
}

.jumbotron {
	position: relative;
	height: 60vh;
	min-height: 550px; 
	border-radius: unset;

	>.inner {
		padding: $jumbotron-padding;
		background: url(../img/carousel-back.png) no-repeat;
		background-size: cover;
		background-position: center bottom;
		width: 100%;
		height: 100%;
	}
}

.absolute-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.blurred-wrapper {
	overflow: hidden;

	>:first-child {
		border: 1px dashed green;
		filter: blur(4px);
		transform: scale(1.008);
		transition: all 0.5s ease;
	}
}

.curtain {
	$border-radius: 2rem;
	background-color: #fff9;
	//max-width: 50vw;
	border-bottom-right-radius: $border-radius !important;
	border-bottom-left-radius: $border-radius !important;
	backdrop-filter: blur(10px);

	&.thicker {
		backdrop-filter: blur(25px);
		background-color: #fffd;
	}
}

#opened-menu {
	.nav-link {
		padding: $mark-padding - 0.125;
		//color: $input-plaintext-color;
	}
}

.form-wrapper {
	background: $white;
}

.form-title {
	color: $blue;
}

.line-title {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #70707070;
	line-height: 0.1em;
	margin: 10px 0 20px;

	span {
		background: #fff;
		padding: 0 10px;
		color: $gray-600;
		font-style: italic;
	}
}

.clean-list {
	ul {
		padding-left: 0;
	}

	li {
		margin: map-get($spacers, 2) 0;
	}
}

/* Phone */
@media (max-width: $phone) {

	.curtain {
		width: unset;
		max-width: unset;
	}

	.navbar-brand img {
		width: 120px;
	}

}

/* tablet */
@media (max-width: $tablet) {

	.curtain {
		width: unset;
		max-width: unset;
	}

}